Repository gopi-frame/writer: changes, and which Codecov flags are due for each by the changed paths.
All: file, lumberjack, writer

.codecov.yml:

codecov:
  require_ci_to_pass: true
  notify:
    wait_for_ci: true
    after_n_builds: 3
coverage:
  precision: 2
  round: down
  status:
    project:
      default:
        target: 80%
        threshold: 1%
    patch:
      default:
        target: 80%
        threshold: 1%
comment:
  layout: "diff, flags, files"
  behavior: default
  require_changes: false
flags:
  file:
    carryforward: true
    paths:
      - "./driver/file/*"
  lumberjack:
    carryforward: true
    paths:
      - "./driver/lumberjack/*"
  writer:
    carryforward: true
    paths:
      - "./*"

update workflow
  .github/workflows/driver.file.yml
  .github/workflows/go.yml
  driver/file/LICENSE
  driver/file/README.md
  driver/lumberjack/LICENSE
  driver/lumberjack/README.md
Due: file, lumberjack

update workflow
  .github/workflows/driver.file.yml
  .github/workflows/driver.lumberjack.yml
  .github/workflows/go.yml
  driver/file/README.md
Due: file

update workflow
  .github/workflows/driver.lumberjack.yml
Due: none

update README.md
  README.md
  driver.go
  driver/file/README.md
  driver/lumberjack/README.md
  driver/lumberjack/driver.go
  driver/lumberjack/driver_test.go
  driver_test.go
  mock_driver_test.go
  mock_writer_test.go
Due: file, lumberjack, writer

update
  driver/lumberjack/README.md
Due: lumberjack

update
  driver.go
Due: writer
